*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;/*minumum height of elmnt(vh-view port height)*/
    background:url('droplet.jpg') no-repeat;
    /*When no-repeat is specified,
     it means that the background image should only
      be displayed once and not repeated.and if the
        container is larger than the image, the remaining
         space will be left empty not start the image again.*/
    background-size:cover ;
    background-position:center;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /*red header removed*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: aliceblue;
    user-select:none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btn-login-popup{ 
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px; 
    cursor: pointer;/*finger or hand guisture*/
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/*underline*/
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#fff;
    border-radius: 5px;
    transform-origin: right;/*hovering of aline starts from right side*/
    transform: scaleX(0);/*unable to see it no x axis*/
    transition: transform .5s;
}
/*hover underline*/
.navigation a:hover::after{
    transform: scaleX(1);/*know we can see it x axis during hover*/
    transform-origin: left;/*hovering of aline starts from left side*/
}

/*hovering effect*/
.navigation .btn-login-popup:hover{
    background: #fff;
    color:#162938; /*for the btn word*/

}

.wrapper{
    position: relative;
    width:400px;
    height:440px;
    background:transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius :20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;/*remove and cut unwanted...(e.g for icon-close )*/
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;/*related to the bottem wrapper.active code*/
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 470px;
}

.wrapper .form-box{
    width: 100%;
    padding:40px;
}  

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{/*for register*/
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

/*close icon on top*/
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index:1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: -5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#162938;
    font-weight: 600;
    padding: 0 35px 0 5px;/*don't touch icons*/

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color:#162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display:flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color:#162938; /*color for the small chek box*/
    margin-right: 3px;/*distance from chekbox side*/
} 

.remember-forgot a{
    color:#162938;
    text-decoration: none;/*remove the link line at the bottom*/
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{ /*small login button at the bottom */

    /*make button wider in y directon*/
    width: 100%;
    height: 45px;
    background: #162938;
    border:none;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*register bottom*/
.login-register{
    font-size: .9em;
    text-align: center;
    color: #3c91d2;
    font-weight: 500;
    margin: 25px 0 10px;
} 

.login-register p a{/*it's for a->"register" */
    color: #094e83;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
}

.login-register p a:hover{
    text-decoration: underline;
}